# Ignore virtual environment directories
venv/
.env/
*.venv

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE/editor specific files
.vscode/
.idea/

# Ignore macOS Finder files
.DS_Store

# Ignore other common files
*.log
*.sqlite3
